@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body{background:black;
  font-family: 'Poppins', sans-serif;}

section {
  height: 100vh;
}
:root {
  --primary-color: mediumslateblue;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, p {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}



/* navigation */
  
.navbar {
    background-color: black;/* Adjust the alpha value as needed for transparency */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    position: sticky;
    top: 0; /* Stick to the top of the viewport */
    z-index: 10; /* Ensure it appears above other content */
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 16px;
    font-size: 25px;
  }
  .navbar a.logo {
    font-size: 30px;
    font-weight: bold;
  }
  .center-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
  }
  .center-links a {
    padding: 10px 16px;
  }
  .navbar a.button,
  a::after {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #7b68ee 100%, transparent 5%);
    border-radius: 5px;
    border: 0;
    color: #101916;
    letter-spacing: 1.8px;
    line-height: 1.25em;
    position: relative;
    text-transform: uppercase;
  }
  
  .navbar a.button::after {
    width: 100%;
    height: 100%;
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);
    content: "DEVENIR CORSAIRE";
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(135deg, #7b68ee 95%, #000 5%);
    text-shadow: -3px -3px 0 #000, 3px 3px 0 #ff0;
    clip-path: var(--slice-0);
  }
  
  .navbar a.button:hover::after {
    animation: glitch 1s;
    animation-timing-function: steps(2, end);
  }
  
  @keyframes glitch {
    0% {
      clip-path: var(--slice-1);
      transform: translate(-20px, -10px);
    }
  
    10% {
      clip-path: var(--slice-3);
      transform: translate(10px, 10px);
    }
  
    20% {
      clip-path: var(--slice-1);
      transform: translate(-10px, 10px);
    }
  
    30% {
      clip-path: var(--slice-3);
      transform: translate(0px, 5px);
    }
  
    40% {
      clip-path: var(--slice-2);
      transform: translate(-5px, 0px);
    }
  
    50% {
      clip-path: var(--slice-3);
      transform: translate(5px, 0px);
    }
  
    60% {
      clip-path: var(--slice-4);
      transform: translate(5px, 10px);
    }
  
    70% {
      clip-path: var(--slice-2);
      transform: translate(-10px, 10px);
    }
  
    80% {
      clip-path: var(--slice-5);
      transform: translate(20px, -10px);
    }
  
    90% {
      clip-path: var(--slice-1);
      transform: translate(-10px, 0px);
    }
  
    100% {
      clip-path: var(--slice-1);
      transform: translate(0);
    }
  }
  

/* Hero section styles */
.a {
    background: url("https://s6.gifyu.com/images/S8jUM.gif") no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    z-index: -1;
  }



  .glitch {
    font-family: 'nt_yakione', sans-serif;
    text-transform: uppercase;
    font-size: 10vw;
    text-align: center;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    color: #fff;
    word-wrap: nowrap;
    width: 1000px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    white-space: nowrap;
  }
  
  .glitch:before {
    content: attr(data-text);
    position: absolute;
    overflow: hidden;
    left: 0;
    color: #000;
    font-family: 'nt_yakitwo';
    transform: translateY(4%);
    text-shadow: 1px -1px 0 #87ff65, 1px -1px 0 #87ff65, -1px 1px 0 #87ff65, 1px 1px 0 #87ff65, 2px -2px 0 #87ff65, 2px -2px 0 #87ff65, -2px 2px 0 #87ff65, 2px 2px 0 #87ff65;
  }
  
  .glitch:before,
  .glitch:after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    width: 100%;
    color: 50px; /* Check if this value is intended */
    background-color: #000000;
    overflow: hidden;
    clip: rect(auto, auto, auto, auto);
  }
  
  .glitch:before {
    left: -2px;
    animation: noise-before 4s infinite linear alternate-reverse;
  }
  
  .glitch:after {
    left: 2px;
    animation: noise-after 3s infinite linear alternate-reverse;
  }
  
  p.subtext {
    text-align: center;
    margin-top: 10px; /* Adjust as needed */
    font-size: 2.5em; /* Adjust the size relative to h1 */
    position: absolute;
    top: 60%; /* Adjust the percentage as needed */
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    color:white;
    text-transform: uppercase;
  }
  
  @keyframes noise-before {
     0% {
        clip: rect(61px, 9999px, 52px, 0);
     }
     5% {
        clip: rect(33px, 9999px, 144px, 0);
     }
     10% {
        clip: rect(121px, 9999px, 115px, 0);
     }
     15% {
        clip: rect(144px, 9999px, 162px, 0);
     }
     20% {
        clip: rect(62px, 9999px, 180px, 0);
     }
     25% {
        clip: rect(34px, 9999px, 42px, 0);
     }
     30% {
        clip: rect(147px, 9999px, 179px, 0);
     }
     35% {
        clip: rect(99px, 9999px, 63px, 0);
     }
     40% {
        clip: rect(188px, 9999px, 122px, 0);
     }
     45% {
        clip: rect(154px, 9999px, 14px, 0);
     }
     50% {
        clip: rect(63px, 9999px, 37px, 0);
     }
     55% {
        clip: rect(161px, 9999px, 147px, 0);
     }
     60% {
        clip: rect(109px, 9999px, 175px, 0);
     }
     65% {
        clip: rect(157px, 9999px, 88px, 0);
     }
     70% {
        clip: rect(173px, 9999px, 131px, 0);
     }
     75% {
        clip: rect(62px, 9999px, 70px, 0);
     }
     80% {
        clip: rect(24px, 9999px, 153px, 0);
     }
     85% {
        clip: rect(138px, 9999px, 40px, 0);
     }
     90% {
        clip: rect(79px, 9999px, 136px, 0);
     }
     95% {
        clip: rect(25px, 9999px, 34px, 0);
     }
     100% {
        clip: rect(173px, 9999px, 166px, 0);
     }
  }
  
  @keyframes noise-after {
     0% {
        clip: rect(26px, 9999px, 33px, 0);
     }
     5% {
        clip: rect(140px, 9999px, 198px, 0);
     }
     10% {
        clip: rect(184px, 9999px, 89px, 0);
     }
     15% {
        clip: rect(121px, 9999px, 6px, 0);
     }
     20% {
        clip: rect(181px, 9999px, 99px, 0);
     }
     25% {
        clip: rect(154px, 9999px, 133px, 0);
     }
     30% {
        clip: rect(134px, 9999px, 169px, 0);
     }
     35% {
        clip: rect(26px, 9999px, 187px, 0);
     }
     40% {
        clip: rect(147px, 9999px, 137px, 0);
     }
     45% {
        clip: rect(31px, 9999px, 52px, 0);
     }
     50% {
        clip: rect(191px, 9999px, 109px, 0);
     }
     55% {
        clip: rect(74px, 9999px, 54px, 0);
     }
     60% {
        clip: rect(145px, 9999px, 75px, 0);
     }
     65% {
        clip: rect(153px, 9999px, 198px, 0);
     }
     70% {
        clip: rect(99px, 9999px, 136px, 0);
     }
     75% {
        clip: rect(118px, 9999px, 192px, 0);
     }
     80% {
        clip: rect(1px, 9999px, 83px, 0);
     }
     85% {
        clip: rect(145px, 9999px, 98px, 0);
     }
     90% {
        clip: rect(121px, 9999px, 154px, 0);
     }
     95% {
        clip: rect(156px, 9999px, 44px, 0);
     }
     100% {
        clip: rect(67px, 9999px, 122px, 0);
     }
  }

.container {
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 20px;
  padding: 20px;
  margin-bottom: 20px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  padding: 20px;
}

.card {
  flex: 1;
  width: 100%;
  max-width: 280px;
  max-height: 200px;
  position: relative;
  background-color: rgb(16 16 16);
  border: 1px solid rgb(255 255 255 / 5%);
  border-radius: 1rem;
  padding: 0rem;
}

.card:after {
  content: "";
  height: 70px;
  width: 1px;
  position: absolute;
  left: -1px;
  top: 65%;
  background: linear-gradient(
    transparent,
    var(--primary-color),
    transparent
  );
  opacity: 0;
  transition: top 600ms ease, opacity 600ms ease; /* Separate transition properties */
}

.card:hover:after {
  top: 25%;
  opacity: 1;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-image: radial-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 1px);
  background-position: 50% 50%;
  background-size: 1.1rem 1.1rem;
  padding: 2rem;
  border-radius: 1.25rem;
  color: white;
  height: 100%;

}

.card-content > :is(h1, h3, p) {
  text-align: center;
  margin: 0;
}

.card-content > h1 {
  font-size: 1.2rem;
  color: rgb(250 249 246);
  margin-top: 0.5rem;
}

.card-content > p {
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.75);
}

.about-text{
    font-size: 1.5rem;
}


  
  .about-section {
    text-align: center;
    color: white;
  }
  
  .about-section h1 {
    font-size: 4rem;
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }


  .faq-heading {
    color: white;
    text-align: center;
    font-size: 4rem;
  }
  
  .faq-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  .hr-line {
    width: 60%;
    margin: auto;
    border: none;
    border-top: 1px solid #777;
  }
  
  .faq-page {
    color: white;
    cursor: pointer;
    padding: 15px 20px;
    width: 60%;
    border: none;
    outline: none;
    margin: auto;
    font-size: 25px; /* Adjusted font size */
  }
  
  .faq-body {
    margin: auto;
    width: 60%;
    padding: 20px;
    color: white;
    font-size: 12px;
  }
  
  .faq-body {
    padding: 0 18px;
    display: none;
    overflow: hidden;
  }
  
  .faq-page:after {
    content: "\02795";
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2796";
  }
    

















/* Media query for smaller screens */
@media only screen and (max-width: 768px) {    /* Hide links */
    .navbar a {
      display: none;
    }
  
    /* Show only button and logo */
    .navbar a.logo,
    .navbar a.button {
      display: block;
    }
  
    /* Optionally, you can style the button and logo for smaller screens if needed */
    .navbar a.logo {
      font-size: 25px; /* Adjust as needed */
      font-weight: bold;
    }
  
    .navbar a.button {
      font-size: 20px; /* Adjust as needed */
      padding: 8px 12px; /* Adjust as needed */
    }
  

}


    
/* Media Query for Responsive Design */
@media (max-width: 768px) {
    .hero h1 {
      font-size: 6rem; /* Adjust the font size for smaller screens */
      padding: 0.5rem 4rem; /* Adjust the padding for smaller screens */
    }
  
    .centered-image {
      max-width: 350px; /* Adjust the max-width of the image for smaller screens */
    }
    
    .hackathon-text {
        font-size: 2.2rem; /* Adjust as needed */
        bottom: 20px; /* Adjust as needed */
  
  }
  
  .card-content > h1 {
    font-size: 1rem;
  }
  .about-section,.faq-heading h1 {
    font-size: 3rem;
  }
  .about-text,
  .faq-body {
    font-size: 1rem; /* Adjust the font size for text on smaller screens */
  }

  .faq-page {
    width: 100%; /* Adjust the width for FAQ pages on smaller screens */
  }

  .faq-container,
  .card-container {
    width: 100%; /* Adjust the width for container elements on smaller screens */
  }

  .hr-line {
    width: 100%; /* Adjust the width for horizontal lines on smaller screens */
  }
  
  }
  .faq-container {
    margin-bottom: 40px;
  }
  
  /* Adjust the font size for both headings to prevent overlap */
  .about-section h1,
  .faq-heading {
    font-size: 2rem;
  }
  
  /* Media Query for Even Smaller Screens (e.g., mobile phones) */
  @media (max-width: 480px) {
    .hero h1 {
      font-size: 4rem;
      padding: 0.5rem 5rem;
    }
  
    .centered-image {
      max-width: 150px;
    }
    .hackathon-text{
        font-size: 1.2rem;
        bottom: 100px;
    }
  
  
    .card {
      max-width: 100%; /* Make cards take up the full width on smaller screens */
      max-height: none; /* Allow cards to adjust height based on content */
    }
  
    .card-content {
      padding: 1.5rem;
    }
  
    .faq-page {
      width: 100%; /* Adjust the width for FAQ pages on smaller screens */
    }
    .about-section h1,
    .faq-heading {
      font-size: 1.2rem; /* Adjust the font size for smaller screens */
    }
  
    .faq-container {
      margin-bottom: 20px; /* Adjust the margin for the FAQ container */
    }
  
    .faq-page {
      font-size: 18px; /* Adjust the font size for FAQ pages on smaller screens */
      width: 90%; /* Adjust the width for FAQ pages on smaller screens */
      margin: 0 auto; /* Center the FAQ pages */
    }
  
    .hr-line {
      width: 80%; /* Adjust the width for horizontal lines on smaller screens */
      margin: 10px auto; /* Center the horizontal lines */
    }
  
    /* Add this style to limit the width of the container */
    .container {
      max-width: 100%; /* Adjust the max-width for the container */
    }
  
  }
  
  @media (max-width: 320px) {
    .hero h1 {
      font-size: 3rem;
      padding: 0.5rem 5rem;
    }
  
    .centered-image {
      max-width: 150px;
    }
    .hackathon-text{
        font-size: .85rem;
        bottom: 120px;
    }
  }
  