body{background:black;}
section {
  height: 100vh;
}
:root {
  --primary-color: mediumslateblue;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, p {
  margin: 0;
}


/* navigation */
  
  .navbar {
    background-color: transparent;/* Adjust the alpha value as needed for transparency */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    position: sticky;
    top: 0; /* Stick to the top of the viewport */
    z-index: 10; /* Ensure it appears above other content */
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 16px;
    font-size: 25px;
  }
  .navbar a.logo {
    font-size: 30px;
    font-weight: bold;
  }
  .center-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
  }
  .center-links a {
    padding: 10px 16px;
  }
  .navbar a.button,
  a::after {
    font-family: 'Kdam Thmor Pro';
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(2,255,10,1) 6%, rgba(41,255,2,1) 46%, rgba(0,255,25,1) 100%);
    border-radius: 5px;
    border: 0;
    color: #101916;
    position: relative;
    text-transform: uppercase;
  }
  
  .navbar a.button::after {
    width: 100%;
    height: 100%;
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);
    content: "DEVENIR CORSAIRE";
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(135deg, #7b68ee 95%, #000 5%);
    text-shadow: -3px -3px 0 #000, 3px 3px 0 #ff0;
    clip-path: var(--slice-0);
  }
  
  .navbar a.button:hover::after {
    animation: glitch 1s;
    animation-timing-function: steps(2, end);
  }
  
  @keyframes glitch {
    0% {
      clip-path: var(--slice-1);
      transform: translate(-20px, -10px);
    }
  
    10% {
      clip-path: var(--slice-3);
      transform: translate(10px, 10px);
    }
  
    20% {
      clip-path: var(--slice-1);
      transform: translate(-10px, 10px);
    }
  
    30% {
      clip-path: var(--slice-3);
      transform: translate(0px, 5px);
    }
  
    40% {
      clip-path: var(--slice-2);
      transform: translate(-5px, 0px);
    }
  
    50% {
      clip-path: var(--slice-3);
      transform: translate(5px, 0px);
    }
  
    60% {
      clip-path: var(--slice-4);
      transform: translate(5px, 10px);
    }
  
    70% {
      clip-path: var(--slice-2);
      transform: translate(-10px, 10px);
    }
  
    80% {
      clip-path: var(--slice-5);
      transform: translate(20px, -10px);
    }
  
    90% {
      clip-path: var(--slice-1);
      transform: translate(-10px, 0px);
    }
  
    100% {
      clip-path: var(--slice-1);
      transform: translate(0);
    }
  }
  

.a {
  background: url("https://s6.gifyu.com/images/S8jUM.gif") no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

/* Hero section styles */
.hero {
  display: flex;
  justify-content: center; /* Horizontally align the content */
  align-items: center;
  height: 100vh;
  overflow: hidden;
  text-align: center; /* Optionally, center text within .hero */
}

.hero h1 {
  font-size: 10rem; /* Replace with your desired fixed font size */
  color: white;
  padding: 0.5rem 2rem; /* Replace with your desired fixed padding values */
  border-radius: 1rem; /* Replace with your desired fixed border radius */
  margin: 0;
  transition: background-color 0.3s, color 0.3s;
}

.hero h1:hover {
  background-color: white;
  color: black;
}

/* Centered image styles */
.centered-image {
  max-width: 500px;
  height: auto;
  margin: -100px -120px 0;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 20px;
  padding: 20px;
  margin-bottom: 20px;
}

.card {
  flex: 1;
  width: 100%;
  max-width: 240px;
  max-height: 130px;
  position: relative;
  background-color: rgb(16 16 16);
  border: 1px solid rgb(255 255 255 / 5%);
  border-radius: 1rem;
  padding: 0rem;
}

.card:after {
  content: "";
  height: 70px;
  width: 1px;
  position: absolute;
  left: -1px;
  top: 65%;
  background: linear-gradient(
    transparent,
    var(--primary-color),
    transparent
  );
  opacity: 0;
  transition: top 600ms ease, opacity 600ms ease; /* Separate transition properties */
}

.card:hover:after {
  top: 25%;
  opacity: 1;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-image: radial-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 1px);
  background-position: 50% 50%;
  background-size: 1.1rem 1.1rem;
  padding: 2rem;
  border-radius: 1.25rem;
  color: white;
  height: 100%;
}

.card-content > :is(h1, h3, p) {
  text-align: center;
  margin: 0;
}

.card-content > h1 {
  font-size: 1.2rem;
  color: rgb(250 249 246);
  margin-top: 0.5rem;
}

.card-content > p {
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.75);
}

.about-text{
    font-size: 1.5rem;
}



.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding: 20px;
  }
  
  .about-section {
    text-align: center;
    color: white;
  }
  
  .about-section h1 {
    font-size: 4rem;
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }


.faq-heading {
   margin-bottom: 20px;
    padding: 20px 0;
    font-size: 4rem;
    color: white; /* White color for FAQ heading */
    text-align: center; /* Center the heading */
  }
  
  .faq-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  /* Style the hr line */
  .hr-line {
    width: 60%;
    margin: auto;
    border: none;
    border-top: 1px solid #777; /* Border color for the line */
  }
  
  /* Style the buttons that are used to open and close the faq-page body */
  .faq-page {
    color: white; /* Set text color to white */
    cursor: pointer;
    padding: 30px 20px;
    width: 60%;
    border: none;
    outline: none;
    margin: auto;
  }
  
  .faq-body {
    margin: auto;
    width: 60%; /* Set the same width as the FAQ header */
    padding: 30px 20px; /* Match the padding of the FAQ header */
    color: white;
  }
  
  /* Style the faq-page panel. Note: hidden by default */
  .faq-body {
    padding: 0 18px;
    display: none;
    overflow: hidden;
  }
  
  .faq-page:after {
    content: "\02795"; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }
  

  
/* Media Query for Responsive Design */
@media (max-width: 768px) {
  .hero h1 {
    font-size: 8rem; /* Adjust the font size for smaller screens */
    padding: 0.5rem 4rem; /* Adjust the padding for smaller screens */
  }

  .centered-image {
    max-width: 350px; /* Adjust the max-width of the image for smaller screens */
  }
  .center-links {
    display: none;
  }

  .card {
    width: calc(100% - 1rem);
    margin: 0 1rem;
    padding: 0.75rem;
    border-radius: 1rem;
  }

  .about-section h1 {
    font-size: 5rem;
  }
  .about-text{
    font-size:1rem;
  }
    .container{
    margin-bottom: 250px;
  }
  .faq-container{
    margin-top:250px;
  }
}

/* Media Query for Even Smaller Screens (e.g., mobile phones) */
@media (max-width: 480px) {
  .hero h1 {
    font-size: 4rem;
    padding: 0.5rem 5rem;
  }

  .centered-image {
    max-width: 250px;
  }

  .about-section h1 {
    font-size: 1.5rem; /* Adjust the font size for the about section heading */
  }

  .card-content {
    padding: 1.5rem;
  }

  .card-content > h1 {
    font-size: 1rem;
  }
  .about-section h1 {
    font-size: 3rem;
  }
  .about-text{
    font-size: 1rem;
  }
  .container{
    margin-bottom: 450px;
  }
  .faq-container{
    margin-top:450px;
  }
}